.post-editor
{
    margin: 0 25%;

}

.card
{
    padding: 15px;
}

.submitButton:hover 
{
    outline: none;
}

@media(max-width: 900px)
{
    .post-body,
    .post-editor
    {
        margin: 1em;
    }
}

