.today
{
    background-color: #3f51b5;
    color: white;
}

.day-number-text
{
    color: white;
}

.day-box
{
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.day-box:hover
{
    background-color: rgb(63, 81, 181, 0.25);
    cursor: pointer;
}

.selected-box
{
    background-color: rgb(63, 81, 181, 0.25);
}

.day-box-inner
{
    height: 100px;
    z-index: 1;
}
